# Discord Bot Token (required)
TOKEN=LAfCe6BEKtTPVqmz88srii5r1W6F+5G/s5GAI8Nalmo=

# SSH access (optional)
SSH_ENABLED=false

# ngrok tunnel for SSH (optional)
NGROK_ENABLED=false
NGROK_AUTHTOKEN=your_ngrok_auth_token_here

# Build-time args (used in build_image.sh)
INSTALL_NGROK=false
